.container {
	width: 60rem;
	padding: 4rem;
	text-align: center;
}

.container h2 {
	font-size: 3.5rem;
	margin-bottom: 2rem;
}

.container p {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.container p:nth-child(4) {
	color: var(--primary-color);
	margin-bottom: 1.5rem;
}

.img {
	width: 30%;
	margin-bottom: 1rem;
}

.time {
	font-weight: bold;
}

.ok_btn {
	margin-top: 1rem;
	border-radius: 20px;
	cursor: pointer;
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color-darker);
	color: white;
	width: 10rem;
	height: 3rem;
	font-weight: bold;
	font-size: 1.5rem;
	transition: all 0.3s ease-in-out;
}

.ok_btn:hover {
	background-color: var(--primary-color-darker);
	border: 1px solid var(--primary-color-darker);
	scale: 1.05;
}

@media (max-width: 600px) {
	.container {
		width: 100vw;
	}

	.container h2 {
		font-size: 2.6rem;
	}

	.container p {
		font-size: 1.6rem;
	}

	.container p:nth-child(4) {
		margin-bottom: 1.2rem;
	}
}

@media (max-width: 500px) {
	.container h2 {
		font-size: 2rem;
	}

	.container p {
		font-size: 1.2rem;
		margin-bottom: 1.5rem;
	}

	.container p:nth-child(4) {
		margin-top: 1rem;
	}

	.ok_btn {
		font-size: 1.2rem;
		margin-top: 2rem;
	}
}
