.main_container {
	padding: 4rem;
	width: 40rem;
}

.card_container {
	width: 100%;
	margin-top: -13rem;
	text-align: center;
}

.card_container img {
	width: 80%;
}

.back_btn {
	position: absolute;
	top: 3rem;
	left: 2rem;
	font-size: 2.5rem;
	border: none;
	justify-content: center;
	background-color: transparent;
	cursor: pointer;
	color: #808080;
}

.operators_container {
	width: 90%;
	display: inline;
}

.operators_container img {
	margin-top: -3rem;
	margin-bottom: 3rem;
	width: 100%;
}

.form_container_top input {
	display: block;
	padding: 1rem;
	margin-bottom: 1rem !important;
	margin-top: 2rem !important;
	border-radius: 1.2rem;
	border: 1px solid #b8b8b8;
}

.card_exp_container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-items: center;
}

.card_exp_container select,
.card_exp_container input {
	margin: auto;
	max-width: 7rem;
	text-align: center;
}

.control input,
.control select {
	display: block;
	width: 100%;
	padding: 1rem;
	margin-bottom: 2rem;
	margin-top: 0.5rem;
	border-radius: 1.2rem;
	border: 1px solid #b8b8b8;
	margin-top: 2rem;
	background-color: #ffffff;
}

.control select {
	width: 20rem;
	color: black;
	-webkit-appearance: none;
}

.control input::placeholder {
	text-transform: uppercase;
}

.control input:focus,
.control select:focus {
	background-color: var(--input-background-color);
	border: 1px solid var(--input-border-color);
	outline: none;
}

.invalid input,
.invalid select {
	border-color: var(--invalid-color);
	background-color: var(--invalid-background-color);
	margin-bottom: 0.8rem;
	outline: none;
}

.invalid p {
	color: var(--invalid-color);
	font-size: 1.2rem;
	margin-left: 0.8rem;
}

.payment_btn {
	margin-top: 2rem;
	border-radius: 20px;
	cursor: pointer;
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color-darker);
	color: #ffffff;
	width: 100%;
	height: 4.4rem;
	font-weight: bold;
	font-size: 1.5rem;
	transition: all 0.3s ease-in-out;
}

.payment_btn:hover {
	background-color: var(--primary-color-darker);
	border: 1px solid var(--primary-color-darker);
	scale: 1.05;
}

@media (max-width: 400px) {
	.main_container {
		width: 100vw;
	}

	.invalid p {
		font-size: 1rem;
	}
}

@media (max-width: 350px) {
	.operators_container img {
		margin-top: -3rem;
		margin-bottom: 1rem;
		width: 100%;
	}

	.payment_btn {
		width: 100%;
		height: 4rem;
	}

	.main_container {
		min-width: 30rem;
	}

	.invalid p {
		font-size: 0.8rem;
		text-align: center;
	}
}

@media (max-height: 600px) {
	.main_container {
		overflow: auto;
		max-height: 90vh;
		position: relative;
	}

	.card_container {
		width: 100%;
		margin-top: -8rem;
		text-align: center;
	}
}
