.header {
	background-image: url(../../assets/images/background_header.jpg);
	background-size: cover;
	background-position: 25% 62%;
	height: 70vh;
}

.header img {
	scale: 0.07;
	position: absolute;
	top: -55rem;
	left: -54rem;
}

/* .nav {
	height: 5rem;
	max-width: 100%;
	padding-right: 2rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.nav ul {
	display: flex;
	gap: 3rem;
	font-size: 3.5rem;
	list-style: none;
	padding-top: 3rem;
}

.nav__link:link,
.nav__link:visited {
	color: white;
	text-decoration: none;
	transition: all 0.1s;
}

.nav__link:hover,
.nav__link:active {
	color: orange;
	text-decoration: none;
} */
