.container {
	/* background-color: red; */
	/* background-color: white; */
	/* border: 1px solid rgb(206, 206, 206);
	border-radius: 14px;
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 1.6rem; */
	/* position: sticky; */
	/* overflow: auto; */
}

.content {
	background-color: white;
	border: 1px solid rgb(206, 206, 206);
	border-radius: 14px;
	padding: 2rem 4rem;
	margin-top: 2rem;
	font-size: 1.6rem;
	height: auto;
	position: sticky;
	/* overflow: scroll; */

	top: 2rem;
}

.header {
	/* border-bottom: 0.1px solid #727272; */
}

.header h2 {
	display: flex;
	justify-content: space-between;
	font-size: 2.8rem;
	margin-bottom: 1.2rem;
}

.header p {
	text-align: center;
	margin-bottom: 4rem;
	color: orange;
}

.cart_items_section {
	/* background-color: blue; */
	max-height: 40rem;
	overflow: scroll;
	/* padding-right: 3rem; */
}

.cart_items {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	padding-bottom: 1rem;
	border-bottom: 0.1px solid #d4d2d2;
}

.amount {
	font-weight: bold;
	border: 1px solid #ccc;
	font-size: 1.4rem;
	padding: 0.25rem 0.75rem;
	border-radius: 6px;
	color: #363636;
}

.btn {
	border: 1px solid red;
	background-color: red;
}

.price {
	margin-left: 1rem;
}
.form {
	display: flex;
	gap: 1rem;
}

.form label {
	color: #333;
	font-weight: 100;
	font-size: 1.2rem;
}

.form input {
	color: #333;
	border: none;
	border-radius: 0.4rem;
	font-size: 1.4rem;
}

.form button {
	scale: 1.4;
	color: #dc0000;
	background-color: transparent;
	border: none;
}

.summary button {
	margin-top: 3rem;
	border-radius: 20px;
	cursor: pointer;
	background-color: #dc0000;
	border: 1px solid #ad0000;
	color: white;
	padding: 1.2rem 10.5rem;
	font-weight: bold;
	font-size: 1.5rem;
}
