.close_button {
	position: absolute;
	top: 1.5rem;
	left: 39rem;
	font-size: 2.5rem;
	border: none;
	justify-content: center;
	background-color: transparent;
	cursor: pointer;
}

.test {
	width: auto;
	font-size: 1.6rem;
}

.test h2 {
	margin-bottom: 2rem;
	text-align: center;
}

.test label {
	margin-bottom: -1rem;
}

.test input {
	display: block;
	width: 100%;
	/* background-color: rgb(227, 227, 252); */
	padding: 1rem;
	margin-bottom: 2rem;
	margin-top: 0.5rem;
	border-radius: 1.2rem;
	border: 1px solid rgb(184, 184, 184);
}

.delivery {
	font-size: 1.6rem;
	display: flex;
	margin-bottom: 2rem;
	border: 1px solid rgb(184, 184, 184);
	padding: 1rem;
	border-radius: 1.2rem;
}

.delivery h4 {
	margin-bottom: 0.5rem;
}

.icon {
	display: flex;
	align-items: center;
	margin-right: 1rem;
	font-size: 2.5rem;
	color: var(--primary-color);
}

.button {
	margin-top: 1rem;
	border-radius: 20px;
	cursor: pointer;
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color-darker);
	color: white;
	padding: 1.2rem 10.5rem;
	font-weight: bold;
	font-size: 1.5rem;
}
