footer {
	padding: 3rem 0rem;
	background-color: #efedea;
	height: 17rem;
	font-size: 2rem;
	font-weight: 800;
}

.container_main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10rem;
	margin: 0rem 5rem;
}

.store_img_container {
	display: flex;
}

.contact_details {
	/* display: flex; */
}
.contact_details_icon {
	color: var(--primary-color);
}

.contact_container p {
	margin-top: 1.5rem;
	font-size: 1.6rem;
	font-weight: 100;
}

.payment_img {
	margin-top: 1.5rem;
	height: 4rem;
	margin-right: 2rem;
	padding-top: 1.5rem;
	padding-left: 6rem;
	scale: 2;
}

.copyright {
	font-weight: 400;
	font-size: 1.2rem;
	margin-left: 2rem;
}
