.container {
	max-width: 95%;
	border: 1px solid rgb(206, 206, 206);
	background-color: white;
	border-radius: 14px;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.container h2 {
	padding-top: 4rem;
	margin-top: -2rem;
	text-align: center;
	font-size: 2.6rem;
}

.card {
	margin: 4rem;
	color: black;
	border-bottom: 0.1px solid #727272;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card:last-child {
	border-bottom: none;
}

.meal {
	padding-top: 2rem;
	margin-right: 3rem;
}

.meal h3 {
	font-size: 2rem;
}

.meal p {
	font-size: 1.6rem;
	color: #727272;
	padding: 1rem 0;
	font-style: italic;
}

.price {
	font-size: 1.6rem;
	margin-top: 0.8rem;
	color: #dc0000;
	font-weight: 700;
	line-height: 1.5;
}
