.meals_category {
	font-size: 1.6rem;
	margin-top: 5rem;
}

.meals_category ul {
	position: sticky;
	top: 2rem;
}

.meals_category li {
	list-style: none;
}

.meals_category a {
	padding: 1.1rem 1.8rem;
	border-left: 0.2rem solid #dbd9d7;
	display: block;
}

.meals_category a:link,
.meals_category a:visited {
	text-decoration: none;
	color: #242e30;
	white-space: nowrap;
}

.meals_category a:hover,
.meals_category a:active {
	color: orange;
	border-left: 2px solid orange;
}

.meals_category .active a {
	color: orange;
	border-left: 2px solid orange;
}
