.container h2 {
	padding-top: 4rem;
	margin-top: -2rem;
	text-align: center;
	font-size: 2.6rem;
}

.item_container:last-child {
	border-bottom: none;
}
.card {
	margin: 4rem;
	color: var(--meal-name-color);
	border-bottom: 0.1px solid var(--border-bottom-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.meal {
	padding-top: 2rem;
	margin-right: 3rem;
}

.meal h3 {
	font-size: 2rem;
}

.meal p {
	font-size: 1.6rem;
	color: var(--meal-description-color);
	padding: 1rem 0;
	font-style: italic;
}

.price {
	font-size: 1.6rem;
	margin-top: 0.8rem;
	color: var(--primary-color);
	font-weight: 700;
	line-height: 1.5;
}
