.meals-category {
	font-size: 1.6rem;
	margin-top: 5rem;
}

.meals-category li {
	list-style: none;
	/* border-left: 1px solid #dbd9d7; */
}

.meals-category a {
	padding: 0.8rem 1.6rem;
	border-left: 1px solid #dbd9d7;
	padding-left: 1rem;
	display: block;
}

.meals-category a:link,
.meals-category a:visited {
	text-decoration: none;
	color: #242e30;
	white-space: nowrap;
}

.meals-category a:hover,
.meals-category a:active {
	color: orange; /* kolor tekstu dla linków nieodwiedzonych */
	border-left: 1px solid red;
}
