.form {
	display: flex;
	align-items: center;
}

.form button {
	border-radius: 20px;
	cursor: pointer;
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color-darker);
	color: white;
	padding: 0.5rem 2.5rem;
	font-weight: bold;
}
