.item_container {
	margin: 4rem;
	color: var(--meal-name-color);
	border-bottom: 0.1px solid var(--border-bottom-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item {
	padding-top: 2rem;
	margin-right: 7rem;
}

.item h3 {
	font-size: 2rem;
}

.item p {
	font-size: 1.6rem;
	color: var(--meal-description-color);
	padding: 1rem 0;
	font-style: italic;
}

.price {
	font-size: 1.6rem;
	margin-top: 0.8rem;
	color: var(--primary-color);
	font-weight: 700;
	line-height: 1.5;
}

.add_btn {
	border-radius: 20px;
	cursor: pointer;
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color-darker);
	color: white;
	padding: 0.5rem 2.5rem;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
}

.add_btn:hover {
	background-color: var(--primary-color-darker);
	border: 1px solid var(--primary-color-darker);
	scale: 1.05;
}

@media (max-width: 600px) {
	.item_container {
		display: block;
		text-align: center;
		margin: 4rem 2.8rem;
	}

	.item {
		padding-bottom: 1rem;
		margin-right: 0;
		padding-top: 0;
	}

	.item h3 {
		font-size: 1.8rem;
		line-height: 2.4rem;
	}

	.item p,
	.price {
		line-height: 1.8rem;
		font-size: 1.4rem;
	}

	.add_btn_container {
		display: flex;
		justify-content: center;
	}

	.add_btn {
		margin-bottom: 2rem;
		padding: 0.3rem 1.8rem;
		font-size: 1.2rem;
	}
}
