.meals_category {
	font-size: 1.6rem;
	margin-top: 5rem;
	position: sticky;
	top: 2rem;
}

.meals_category li {
	list-style: none;
	padding: 1.1rem 4.5rem 1.1rem 1.5rem;
	border-left: 0.2rem solid #dbd9d7;
	display: block;
	cursor: pointer;
}

.meals_category a:link,
.meals_category a:visited {
	text-decoration: none;
	color: #242e30;
	white-space: nowrap;
}

.meals_category li:hover,
.meals_category li:active {
	color: var(--meals_category_cative-color);
	border-left: 2px solid var(--meals_category_cative-color);
}

.meals_category .active {
	color: var(--meals_category_cative-color);
	border-left: 2px solid var(--meals_category_cative-color);
}

@media (max-width: 750px) {
	.meals_category {
		display: none;
	}
}
