.container {
	max-width: 95%;
	border: 1px solid var(--border-color);
	background-color: var(--secondary-background-color);
	border-radius: 14px;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.container li:last-child {
	border-bottom: none;
}

.container h2 {
	font-size: 3rem;
	margin-top: 1.5rem;
}

.container img {
	width: 10%;
	padding-top: 1rem;
}

.img_header_container {
	text-align: center;
}
