.item_container {
	margin: 4rem;
	color: var(--meal-name-color);
	border-bottom: 0.1px solid var(--border-bottom-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item {
	padding-top: 2rem;
	margin-right: 3rem;
}

.item h3 {
	font-size: 2rem;
}

.item p {
	font-size: 1.6rem;
	color: var(--meal-description-color);
	padding: 1rem 0;
	font-style: italic;
}

.price {
	font-size: 1.6rem;
	margin-top: 0.8rem;
	color: var(--primary-color);
	font-weight: 700;
	line-height: 1.5;
}

.add_btn {
	border-radius: 20px;
	cursor: pointer;
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color-darker);
	color: white;
	padding: 0.5rem 2.5rem;
	font-weight: bold;
}
