.container {
	max-width: 95%;
	border: 1px solid var(--border-color);
	background-color: var(--secondary-background-color);
	border-radius: 14px;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.container_mobile_menu {
	display: none;
}

.container li:last-child {
	border-bottom: none;
}

.container h2 {
	font-size: 3rem;
	margin-top: 1.5rem;
}

.container img {
	width: 10%;
	padding-top: 1rem;
}

.img_header_container {
	text-align: center;
}

@media (max-width: 1200px) {
	.container {
		max-width: 100%;
		margin-top: 5rem;
		margin-bottom: 4rem;
	}
}
@media (max-width: 750px) {
	.container {
		margin-top: 1rem;
	}
	.container h2 {
		display: none;
	}
	.container_mobile_menu {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid var(--border-color);
		padding: 1.7rem 1rem 1rem 1rem;
		width: 88vw;
	}

	.container_mobile_menu button {
		background-color: transparent;
		border: none;
		font-size: 2rem;
		color: black;
	}
}

@media (max-width: 600px) {
	.container img {
		width: 18%;
	}
}
