.cart_btn {
	padding: 1rem 2rem;
	top: 5rem;
	margin-top: 2rem;
	margin-left: 3rem;
	cursor: pointer;
	font: inherit;
	background-color: transparent;
	color: #ffffff;
	color: var(--primary-color-darker);
	border-radius: 25px;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
	z-index: 1;
	display: none;
	border: none;
	position: sticky;
}

.icon {
	font-size: 2.5rem;
}

.badge {
	padding: 0.25rem 1rem;
	border-radius: 25px;
	margin-left: 0.3rem;
	font-weight: bold;
	font-size: 2rem;
}

.bump {
	animation: bump 300ms ease-out;
}

@keyframes bump {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.9);
	}
	30% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1.15);
	}
	100% {
		transform: scale(1);
	}
}
@media (max-width: 1200px) {
	.cart_btn {
		top: 92%;
		left: 48vw;
		margin-top: 22vh;
		background-color: var(--primary-color);
		position: sticky;
		color: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		width: 20rem;
		height: 4rem;
		margin-left: auto;
		margin-right: auto;
	}

	.cart_btn:hover {
		background-color: var(--primary-color-darker);
		border: 1px solid var(--primary-color-darker);
		scale: 1.05;
	}

	.badge {
		padding-bottom: 0.5rem;
		padding-left: 0.2rem;
	}

	.icon {
		margin-left: 0.7rem;
	}
}

@media (max-width: 750px) {
	.cart_btn {
		left: 0;
		margin-bottom: -6vh;
	}
}

@media (max-height: 500px) {
	.cart_btn {
		top: 88%;
	}
}
@media (max-height: 400px) {
	.cart_btn {
		top: 86%;
	}
}
@media (max-height: 300px) {
	.cart_btn {
		top: 84%;
	}
}
