.cart_btn {
	cursor: pointer;
	font: inherit;
	background-color: transparent;
	color: white;
	color: var(--primary-color-darker);
	padding: 0.5rem 0;
	border-radius: 25px;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
	position: sticky;
	padding: 1rem;
	top: 5rem;
	margin-top: 2rem;
	margin-left: 3rem;
	z-index: 1;
	display: none;
	border: none;
	max-height: 5vh;
}

.icon {
	font-size: 2.5rem;
}

.badge {
	padding: 0.25rem 1rem;
	border-radius: 25px;
	margin-left: 0.3rem;
	font-weight: bold;
	font-size: 2rem;
}

@media (max-width: 1200px) {
	.cart_btn {
		top: 93vh;
		left: 48vw;
		margin-top: 22vh;
		margin-bottom: 3vh;
		background-color: var(--primary-color);
		position: sticky;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		width: 15rem;
		height: 4.5rem;
	}

	.cart_btn:hover {
		background-color: var(--primary-color-darker);
		border: 1px solid var(--primary-color-darker);
		scale: 1.05;
	}

	.badge {
		padding-bottom: 0.5rem;
		padding-left: 0.2rem;
	}

	.icon {
		margin-left: 0.7rem;
	}
}

@media (max-width: 750px) {
	.cart_btn {
		left: 40vw;
		margin-bottom: -6vh;
	}
}
@media (max-width: 700px) {
	.cart_btn {
		left: 38vw;
	}
}
@media (max-width: 600px) {
	.cart_btn {
		left: 40.5vw;
		width: 11rem;
		height: 3.8rem;
	}
}
@media (max-width: 500px) {
	.cart_btn {
		left: 39vw;
	}
}
@media (max-width: 400px) {
	.cart_btn {
		left: 36vw;
	}
}

@media (max-width: 300px) {
	.cart_btn {
		left: 34vw;
		width: 10rem;
		height: 3.5rem;
	}
}
