.cart_items_list {
	max-height: 40rem;
	overflow: scroll;
}

.cart_item {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	align-items: center;
	margin-top: 2rem;
	padding-bottom: 1rem;
	border-bottom: 0.1px solid var(--border-bottom-color);
}

.cart_item_summary {
	display: flex;
	align-items: center;
	justify-self: end;
}

.cart_item_summary .btn {
	display: flex;
	color: var(--primary-color);
	border: none;
	background-color: transparent;
	font-size: 1.8rem;
	cursor: pointer;
}

.cart_item_amount {
	font-weight: bold;
	font-size: 1.4rem;
	padding: 0.25rem 0.75rem;
	color: #363636;
	border: none;
}

.cart_item_price {
	margin-left: 1rem;
	justify-self: end;
}

@media (max-width: 800px) {
	.item_name {
		font-size: 1.4rem;
	}
}

@media (max-width: 380px) {
	.item_name {
		font-size: 1.2rem;
	}
}
