.summary {
	margin-top: 2rem;
	text-align: center;
}

.subtotal {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.4rem;
	font-weight: 200;
}

.discount {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.4rem;
	font-weight: 200;
	color: #2ab42a;
}

.subtotal:first-child {
	margin-top: 1.8rem;
	font-weight: 600;
}

.total {
	margin-top: 3rem;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
}

@media (max-height: 600px) {
	.subtotal {
		margin-bottom: 1rem;
		font-size: 1.4rem;
	}

	.subtotal:first-child {
		margin-top: 1.2rem;
	}

	.total {
		margin-top: 2rem;
		font-size: 1.4rem;
	}
}
