* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	/* CSS VARIABLES */

	--primiary-background-color: #fafafa;
	--secondary-background-color: #fff;
	--tertiary-background-color: #efedea;
	--primary-color: #d21312;
	--primary-color-darker: #bd1110;
	--invalid-color: #aa0b20;
	--invalid-background-color: #ffeff1;
	--input-background-color: #0089fa1a;
	--input-border-color: #0089fa;
	--meals_category_cative-color: #ffa500;
	--paid_color: #f59f00;
	--free_color: #37b24d;
	--meal-name-color: #000;
	--meal-description-color: #727272;
	--border-color: #cecece;
	--border-bottom-color: #d4d2d2;
	--backdrop-color: rgba(0, 0, 0, 0.75);
	--box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	width: 100%;
	margin: auto;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1;
	font-weight: 400;
	background-color: var(--primiary-background-color);
}

::-webkit-scrollbar {
	display: none;
}
