* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	/* CSS VARIABLES */

	--primiary-background-color: #fafafa;
	--secondary-background-color: #fff;
	--primary-color: #d21312;
	--primary-color-darker: #bd1110;
	--meal-name-color: #000;
	--meal-description-color: #727272;
	--border-color: rgb(206, 206, 206);
	--border-bottom-color: #d4d2d2;
	--backdrop-color: rgba(0, 0, 0, 0.75);
	--box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	width: 100%;
	margin: auto;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1;
	font-weight: 400;
	background-color: var(--primiary-background-color);
}
