.nav_container {
	max-width: 160rem;
	margin: auto;
}

.nav_items {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	gap: 3rem;
	font-size: 4rem;
	padding-top: 4rem;
	padding-right: 4rem;
}

@media (max-width: 600px) {
	.nav_items {
		justify-content: center;
		padding-right: 0;
		margin-left: 1rem;
		padding-top: 5rem;
	}
}
